#history_box {
    visibility: hidden;
    position: absolute;
    background-color: rgb(246, 255, 255);
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 3px;
    
}

#container:hover #history_box {
    visibility: visible;
    animation: move 0.35s forwards linear;
    transition: 0.35s;
}

#history_box .btn_history {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#container:hover #delete_button {
    animation: move1 0.35s ease-out forwards;
    visibility: visible
    
}
.btn_history{
    border: 2px;
    font-weight: 600;
    line-height: 60px;
    background-color: rgb(255, 255, 255,0.5);
}
.btn_history:hover {
    transition: 0.35s;
    scale: 105%;
    background-color: rgba(255, 255, 255, 0.992);
}
.btn_history:active {
    transition: none;
    background-color: rgba(255, 255, 255, 0.296);
    scale: 97%;
}
/* .btn_history:not(:hover){
    background-color: rgba(255, 255, 255, 0.5);
} */


#delete_button {
    visibility: hidden;
    border:none;
    position: absolute;
    line-height: 60px;
    width: 300px;
    left:375px;
    top:440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    /* border:black solid 2px */
}
#delete_button:hover{
    transition: 0.35s;
    background-color: rgba(255, 160, 160, 0.8);

}
@keyframes move {
    from {
        background-color: rgba(255, 255, 255, 0);
        left: 375px;
    }

    to {
        background-color: rgba(255, 255, 255, 0.5);
        ;
        left: 375px;

    }
}
#delete_button_container img{
    width: 17%;
    height: 30%;
}
@keyframes move1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
